@use "../../scss/mixins";

.collection-footer {
  @include mixins.flex(column, center, baseline);
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  background-color: var(--lightest-grey);

  .name {
    text-transform: capitalize;
    font-size: 2.1rem;
    padding: 1.5rem;
    line-height: 1.7;
    letter-spacing: 0.1em;
  }
  .price {
    font-size: 1.9rem;
    padding: 1.5rem;
    white-space: nowrap;
  }

  .for-preview {
    width: 100%;
    @include mixins.flex(row, space-between);
  }

  .for-shop {
    width: 100%;
    @include mixins.flex(column);
  }
}
