.form-container {
  h4 {
    margin: 1rem 0;
  }
  input {
    width: 60%;
    padding: 0.5em;
    margin: 0 1rem 1.5rem 0;
  }
  textarea {
    font-size: 2rem;
    width: 100%;
    padding: 1em;
  }
  textarea::placeholder {
    font-size: 1.5rem;
  }

  .input-group {
    display: flex;
  }
}
