.loader_screen {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 2px;
  background-color: white;
  background-color: grey;
}

@keyframes sound-bar {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(6);
  }
  70% {
    transform: scaleY(1);
  }
}

@for $i from 1 through 7 {
  div.dot:nth-child(#{$i}) {
    animation-name: sound-bar;
    animation-duration: 2s;
    animation-delay: $i * 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}
